body{
	margin: 0;
	width: 100%;
	background-color:white ;
}
ul{
	padding: 0;
	margin: 0;
}
li{
	list-style: none;
}
img{
	border: none;
	vertical-align: top;
}
a{
	text-decoration: none;
}

/*清除默认样式区域结束*/



.left{
	float: left;
}
.right{
	float: right;
}

.ab{
	position: absolute;
}
.rela{
	position: relative;
}
/*tool*/



.top{
	width: 100%;
	/*background-color: #252525;*/
	height: 48px;
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
}
.left_hearder{
	float: left;
}
.bai_du_ico{
	margin-top:-2px;
	margin-left: 10px;
	float: left;
	width: 116px;
	height: 45px;
	background: url(../img/frame-icon.png) no-repeat;
	background-position: 1px 5px ;
}
.left_hearder li{
	float: left;
	height: 48px;
	font: 18px/48px "微软雅黑";
	width: 90px;
	text-align: center;
	color: #d8d8d8;
	cursor: pointer;
}
.fen_xiang{
	float: left;
	width: 10px;
	height: 10px;
	background: url(../img/frame-icon.png) no-repeat -90px -49px;
	top: 22px;
	left: 67px;
}
.right_header{
	width: 500px;
	/*height: 100%;*/
	position: absolute;
	right: 0;
	padding-right: 10px;
	/*margin-left: 176px;*/
}
.right_header a{
	float: left;
}
.right_header a:hover{
	color: #1970d2;
    /*background-color: #e1e1e1;*/
}
.one_a{
   font: 16px/48px "微软雅黑";
   color: #e15f00!important;
   
}
.inp_sousuo{
	margin-top: 15px;
	margin-left: 10px;
}
.inp_sousuo1{
	margin-top: 15px;
	margin-right: 52px;
	color: #414141;
}
#hui_yuan{
	width: 116px;
	height: 32px;
}
.right_header a{
	font: 16px/48px "微软雅黑";
	color: #d8d8d8;
	cursor: pointer;
	padding: 0 10px;
}
.huang_guan{
	position: absolute;
	background: url(../img/frame-icon.png) no-repeat 0 -132px;
	width: 18px;
	height: 14px;
	left: -22px;
	top: 18px;
	cursor: pointer;
}
.xia_san_jiao{
	position: absolute;
	background: url(../img/frame-icon.png) no-repeat -90px -49px;
	top: 23px;
	left: 68px;
	width: 11px;
	height: 6px;
	cursor: pointer;
}
.bg_red{
	/*padding: 10px;*/
	background-color:#e82b1a ;
	height: 30px;
	line-height: 30px!important;
	margin-top: 10px;
	border-radius: 3px;
	
}
.ul_left{
	/*width: 300px;*/
	width: 100%;
	padding-top: 10px;
	background-color: #eff4f8;
	
}
.ul_left li
{
	height: 40px;
	width: 100%;
	/*text-align: center;*/
	cursor: pointer;
	/*background-color:pink ;*/
	text-indent: 50px;
	/*text-shadow: 2px 2px 2px ;*/
}
.ul_left li span{
	line-height: 40px;
	vertical-align: middle;
	/*text-shadow: 0px 0px 1px black;*/
	
}

.nav_left{
	/*background-color: #eff4f8;*/
	width: 18%;
}
.si_ge_icos li{
	float: left;
	width: 20%;
	/*background: pink;*/
	height: 70px;
	padding: 0 5px;
	text-align: center;
	cursor: pointer;
}

.si_ge_icos{
	margin-top: 40px;
}
.content{
	/*width: 84%;
	height: 1800px;
	max-width: 1430px;
	min-width: 969;*/
	/*background: pink;*/
}
.line1 img{
	width: 158px;
	height: 40px;
}
.line1{
	width: 99%;
	/*background-color:#f7f7f7 ;*/
	padding-bottom: 10px;
	padding-left: 30px;
}

.d1{
	width: 158px;
	height: 40px;
	margin: 17px 0 0 40px;
	cursor: pointer;
	box-shadow: 0 0 3px 1px #afafaf;
}
.content{
	float: right;
	width: 82%;
	
}

.wo_de_yun{
	width: 80px;
	height: 45px;
	font: 24px/45px "微软雅黑";
	color: #fff;
	background-color: #252525;
	left: 42px;
	/*border-radius: 10px;*/
}
.d2,.d3,.d4,.d5,.d{
	cursor: pointer;
	/*width: 100px;*/
	padding: 0 10px;
	height: 40px;
	margin: 17px 0 0 10px; 
	font: 16px/40px "微软雅黑";
	color: #666;
	border: 1px solid #a6a6a6;
	text-align: center;
	box-shadow: 0 0 3px 1px #afafaf;
	border-radius: 5px;
	color: white;
	font-weight:bold ;
}
#appear_btn{
	display: none;
}

/*.d2:hover,.d3:hover,.d4:hover{
	background-color:#2a78cf ;

	
}*/
.new_file{
	display: inline-block;
	vertical-align: middle;
	width: 18px;
	height: 16px;
	background: url(../img/sys-icon_b547193.png) no-repeat -150px -4px;
	/*background-size: 18px 16px;*/
}
.new_filec{
	display: inline-block;
	vertical-align: middle;
	width: 18px;
	height: 16px;
	background: url(../img/sys-icon_b547193.png) no-repeat -180px -4px;
	/*background-size: 18px 16px;*/
}
.leave_lod{
	display: inline-block;
	vertical-align: middle;
	width: 19px;
	height: 17px;
	background: url(../img/plugin-icon_7318e47.png) no-repeat 0px -4px;
	
}
.leave_lodc{
	display: inline-block;
	vertical-align: middle;
	width: 19px;
	height: 17px;
	background: url(../img/plugin-icon_7318e47.png) no-repeat -30px -4px;
	
}
.delet{
	display: inline-block;
	vertical-align: middle;
	width: 19px;
	height: 17px;
	background: url(../img/sys-icon_b547193.png) no-repeat -210px -4px;
}
.deletc{
	display: inline-block;
	vertical-align: middle;
	width: 19px;
	height: 17px;
	background: url(../img/plugin-icon_7318e47.png) no-repeat -270px -4px;
}
.my_machine{
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 17px;
	background: url(../img/plugin-icon_7318e47.png) no-repeat -60px -4px;
}
.my_machinec{
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 17px;
	background: url(../img/plugin-icon_7318e47.png) no-repeat -90px -4px;
}
.all{
	width: 100%;
	/*background-color:#f7f7f7 ;*/
	padding-bottom: 10px;
	height: 50px;
	text-indent: 50px;
	font:bold 20px/50px "微软雅黑";
	color: white;
	font-weight: bold;
}
.all_right{
	margin-right: 10px;
}
.ch{
	width: 100%;
	/*background-color:#f7f7f7 ;*/
	height: 50px;
	line-height: 50px;
	/*text-indent: 50px;*/
	/*margin-left: ;*/
	/*background-color: #f7f7f7;*/
	
}
#ccc{
	width: 13px;
	height: 13px;
	border: 2px solid blue;
	opacity: 0.8;
	position: absolute;
	left: 37px;
    top: 17px;
	cursor: pointer;
	border-radius: 3px;
    
}
.No_chedked{
	width: 13px;
    height: 13px;
    border: 2px solid blue;
    opacity: 0.8;
    display: none;
    position: absolute;
    top: 10px;
}

.small_checked{
	width: 13px;
	height: 13px;
	border: 2px solid blue;
	opacity: 0.8;
	position:absolute;
}
/*#ccc:hover{
	cursor: copy;
}*/
#part_file{
	height: auto;
	min-height: 500px;
	padding-left: 20px;
}
#part_fen_xiang{
	width: 958px;
	height: 161px;
	/*padding: 36px 34px;*/
	position: absolute;
	left: -172px;
	top: 48px;
	background-color:white ;
	display: none;
	border: 1px solid #afafaf;
	box-shadow: 0 0 3px 1px #afafaf;
	border-radius: 5px;
	
}
#part_fen_xiang li span {
	color: black;
}
#part_top li:hover{
	/*background-color:#0f0f0f ;*/
	/*color: #fff;*/
	font-weight: bold;
	
}



.rela:hover #part_fen_xiang{
	
	
	display: block;
}

#part_fen_xiang li{
	float: left;
	width: 100px;
	height: 89px;
	/*background: pink!important;*/
	margin: 36px 0px;
	text-align: center;
}
#part_fen_xiang li img{
	width: 53px;
	height: 53px;
	display: block;
	margin-left: 20px;
	
}
.aotu{
	margin: 0 auto;
	width: 100%;
	height: 100%;
}
#rignt_more{
	position: relative;
	/*display: none;*/
}
#rignt_more ul{
	position: absolute;
	left: -67px;
	background-color:#f6f6f9 ;
	border-left:1px solid #afafaf ;
	border-bottom:1px solid #afafaf ;
	padding: 15px 0;
	box-shadow: -1px -1px 2px 1px #afafaf ;
	border-radius: 5px;
	top: 45px;
}
#rignt_more li{
	width: 142px;
	font: 18px/44px "微软雅黑";
	color: #888;
	padding-left: 32px;
}
#jian_jiao{
	position: absolute;
	width: 14px;
	height: 14px;
	background-color: #f6f6f9;
	transform: rotateZ(45deg);
	right: 46px;
	top: -8px;
	
}
#rm_ul{
	display: none;
}
/*#part_file li:hover{
	border: 1px solid blue;
}*/

#new_file_2{
				width: 100px;
				height: 30px;
				border: 1px solid black;
				/*background-image: url(img/n.png) ;*/
				display: block;
				margin-bottom: 10px;
}
.class_one{
	list-style: none;
	width: 130px;
	height: 130px;
	/*margin-right: 10px;*/
	/*background: red;*/
	float: left;
	background-image:url(../img/fg.png);
	background-repeat:no-repeat ;
	background-position: 45.5px 22px;
	position: relative;
	padding:0 10px ;
	margin: 20px 20px;
}
.class_tow{
	list-style: none;
	float: left;
	position: relative;
	height: 38px;
	border: 1px solid cornflowerblue;
	width: 100%;
	border: 1px solid #ebebeb;
	cursor: pointer;
}
.btn1_small{
	width: 20px;
	height: 20px;
	margin-top: 10px;
	margin-left:34px ;
	float: left;
}
.btn2_small{
	margin-top: 10px;
	margin-left:10px ;
	display: inline-block;
	
}
.btn3_small{
	margin-top: 5px;
	width: 24px;
	height: 24px;
	bottom: 0;
	background: url(../img/yes.png);
	display: inline-block;
	position: absolute;
	left: 230px;
	top: 5px;
}
.btn4_small{
	width: 24px;
	height: 24px;
	bottom: 0;
	background: url(../img/no.png);
	display: inline-block;
	position: absolute;
	left: 270px;
	top: 10px;

}
.new_p_small{
	margin-top: 10px;
	position: absolute;
	left: 65px;
	background:url(../img/fg.png) no-repeat ;
	padding-left: 30px;
	background-size:16px 16px;
}
.btn1{
	width: 20px;
	height: 20px;
}
.clearfix:after{
				content: "";
				display: block;
				clear: both;
}
#menu_new_file li{
	width: 130px;
	height: 34px;
	border-bottom: 1px solid #e9e9e9;
	text-indent: 10px;
	line-height: 34px;
	cursor: pointer;
}
#menu_new_file li:hover{
	background-color: #000;
	color: white;
}
#menu_new_file{
	position: absolute;
	border: 1px solid #bababa;
	background-color:#888;
	display: none;
}
#roude{
	width: 100%;
	height: 30px;
	/*background-color:papayawhip ;*/
	text-indent: 50px;
	line-height: 30px;
	color: white;
}
#roude a{
	font:bold 14px/30px "宋体";
	text-decoration: underline;
	cursor: pointer;
	color: white;
	font-weight: bold;
}
#roude a:active,#roude a:hover{
	color: blue;
}
.btn2{
	position: absolute;
	width: 82px;
	height: 24px;
	border: 1px solid #d2d2d2;
	left: 0;
	bottom: 0;
}

.btn3{
	position: absolute;
	width: 24px;
	height: 24px;
	left: 90px;
	bottom: 0;
	background: url(../img/yes.png);
}
.btn4{
	position: absolute;
	width: 24px;
	height: 24px;
	left: 120px;
	bottom: 0;
	background: url(../img/no.png);
}
.new_p{
	width: 100%;
	height: 30px;
	text-align: center;
	/*text-indent: 20px;*/
	position: absolute;
	left: 0;
	bottom: -17px;
	/*background: red;*/
	z-index: -1;
}
#chec_all{
	display: inline-block;
	margin-left: 50px;
	color: white;
	position: relative;
	font-weight:bold ;
}

.mew_class_of_li{
	border: 1px solid #2e80dc;
}
.mew_class_of_li_old{
	border: 1px solid transparent;
}
#img_b_and_s{
	float: right;
	width: 96px;
	height: 43px;
	margin: 10px 40px 0 0;
	cursor: pointer;
}
#bax_move{
	width: 700px;
	height: 300px;	
	border: 10px solid #f0f8fd;
	position: absolute;
	left: 600px;
	top: 300px;
	background-color:white ;
	font: 20px/30px  "微软雅黑";
	overflow: auto;
	padding-top: 30px;
	display: none;
	overflow: hidden;
}
.md{
	text-indent: 30px;
}
#cc{
	width: 30px;
	height: 30px;
	margin-right: 10px;
	cursor: pointer;
	text-align: center;
}
.one_line{
	width: 100%;
	border-bottom: 1px solid powderblue;
	position: absolute;
	left: 0;
	top: 0;
}
#move_ul{
	padding: 10px;
	height: 200px;
	overflow: auto;
	
}
#main_ul li{
	border-radius: 10px;
	color: white!important;
	font-weight: bold;
}
#main_ul li:hover{
	border: 2px solid rgba(0,0,255,0.8)!important;
}
#main_ul li:hover span{
	display: block!important;
	opacity: 0.8!important;
}
#main_ul li span{
	border-radius: 50%;
	cursor: pointer;
}
#move_ul li{
	width: 100%;
	line-height: 30px;
}

.jia_jian{
	position: absolute;
	left: 0;
	top: 0;
	width: 30px;
	height: 30px;
	font: 30px/30px "微软雅黑";
	left: 24px;
	cursor: copy;
	
}
.box_li{
	position: absolute;
	bottom: 0px;
	left: 0px;
	display: none;
}
/*客户端下载样式*/
.custom_download{
	display: inline-block;
	margin-left: 20px;
}
/*警告提示框*/
#warming{
	/*display: none;*/
	position: absolute;
	width: 500px;
	height: 300px;
	top: -1000px;
	left: 800px;
	background-color:#fff;
	border: 10px solid rgba(239,204,248,0.8);
	border-radius: 10px;
}

@-webkit-keyframes warm{
	0{top: -1000px;}
	60%{top: 300px;}
	80%{top: 280px;}
	100%{top: 300px;}
}
@-webkit-keyframes warm2{
	0{top: 300px;}
	20%{top: 320px;}
	100%{top: -1000px;}
}
#warming p{
	width: 100%;
	height: 40px;
	font:bold 25px/40px "微软雅黑";
	text-align: center;
	letter-spacing: 2px;
	margin-top: 50px;
}
#warming p span{
	display: inline-block;
	transform: rotate(-15deg);
	animation: go 2s infinite;
}
@-webkit-keyframes go{
	0%{
		transform: rotate(0deg);
	}
	5%{
		transform: rotate(20deg);
	}
	15%{
		transform: rotate(-20deg);
	}
	25%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(0deg);
	}
	
}
.yew_no{
	width: 100%;
	height: 60px;
	font:bold 30px/40px "微软雅黑";
	margin-top: 100px;
	
	
}
.confirm_yes,._confirm_yes{
	font:bold 30px/40px "微软雅黑";
	position: absolute;
	left: 120px;
	width: 100px;
	height: 40px;
	text-align: center;
	border: 10px solid rgba(239,204,248,0.7);
	cursor: pointer;
	border-radius: 10px;
	transition: 0.5s;
}
.confirm_no,._confirm_no{
	font:bold 30px/40px "微软雅黑";
	position: absolute;
	left: 286px;
	width: 100px;
	height: 40px;
	text-align: center;
	border: 10px solid rgba(239,204,248,0.7);
	cursor: pointer;
	border-radius: 10px;
	transition: 0.5s;
}
.confirm_yes:hover,.confirm_no:hover,._confirm_yes:hover,._confirm_no:hover{
	transform: scale(1.15);
}
.small_ul{
	padding: 0 50px;
	position: absolute;
	left: 800px;
	top: -1000px;
	
	width: 600px;
	height: 400px;
	border: 5px solid rgba(255,204,255,0.5);
	z-index: 99;
	overflow: auto;
	background-color:#fff;
	border-radius: 20px;
	/*animation: small_ul_go 1s;*/
	
	
}
@-webkit-keyframes small_ul_go{
	0{top: -1000px;}
	60%{top: 420px;}
	80%{top:380px}
	100%{top:400px}
}
@-webkit-keyframes small_ul_go_back{
	0{top: 400px;}
	20%{top: 420px;}
	100%{top:-1000px;}
}
.real_small_ul{
	height: 320px;
	overflow: auto;
}
.small_ul li{
	position: relative;
	width: 500px;
	height: 30px;
	padding: 10px;
	border-bottom: 1px dashed rgba(255,255,0,0.8);
	/*border-top: 1px dashed rgba(255,255,0,0.8);*/
	border-radius: 50px;
}
.small_ul li:hover{
	cursor: pointer;
	background-color: #f1f1f1;
	border-radius: 50px;
}
.img_small_li{
	top: 15px;
	position: absolute;
	width: 50px;
	height: 30px;
	left: 20px;
	background: url(../img/fg.png) no-repeat;
	background-size:30px 20px ;
}
.world_small_span{
	position: absolute;
	width: auto;
	height: 30px;
	font: bold 18px/30px "微软雅黑";
	left: 80px;
}
.cha_cha{
	position: absolute;
	right: 5px;
	top: 0;
	cursor: pointer;
	width: 50px;
	height: 50px;
	font: bold 50px/50px "微软雅黑";
	text-align: center;
	transition: 1s;
}
.cha_cha:hover{
	
	transform: rotate(90deg);
	color: red;
}
.cha_cha:active{
	transform: scale(1.1);
}
.quxiao_small_lis{
	left: 480px;
}
.cue{
	width: 200px;
	height: 40px;
	background-color:rgba(80,130,62,0.8) ;
	position: absolute;
	left:800px;
	top:-50px;
	border-radius: 20px;
	color:white;
	text-align: center;
	font:bold 20px/40px 微软雅黑 ;
	border: 2px solid peru;
	/*animation:cue_go 2s ;*/
}
@keyframes cue_go {
	0%{
		top:-50px;
	}
	30%{
		top:30px;
	}
	70%{
		top:30px;
	}
	100%{
		top:-50px;
	}
}
.wrap{
	width: 100%;
	height: 100%;
	background: url(../img/7.jpg) no-repeat;
	background-size:100% 100%;
	position: relative;
	z-index: 0;
}
.fly_star{
    width: 50px;
    height: 100px;
    position: absolute;
    background: url(../img/fly_star.png) no-repeat;
    background-size: 50px 100px;
    animation: go_flyStar 1.5s linear;
    transform: translateX(0px);
    transform: translateY(0px);
}
@keyframes go_flyStar {
    0%{ opacity: 0.5;
        transform: translateX(0px);
        transform: translateY(0px);
    }
    30%{
        opacity: 0.9;
    }
    50%{
        opacity: 1;
    }
    90%{
        opacity: 0.5;
    }
    100%{
        opacity: 0;
        transform: translateX(400px) translateY(800px);

    }

}

